<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Contract</title>
</head>
<body>
<form th:action="@{/contract-detail/update}" method="post" th:object="${contractdetail}">
    <p>Contract Id:</p>
    <select th:field="${contractdetail.contract}">
        <option th:each="contract: ${contractServices}" th:text="${contract.contract_id}"
                th:value="${contract.contract_id}"></option>
    </select>
    <p>Attach Service Id:</p>
    <select th:field="${contractdetail.attachService}">
        <option th:each="attachservice: ${attachservices}" th:text="${attachservice.attach_service_id}"
                th:value="${attachservice.attach_service_id}"></option>
    </select>

    <input type="hidden" th:field="*{contract_detail_id}">
    <p>Quantity:</p>
    <input type="text" th:field="*{quantity}">
    <p style="color: red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Error Quantity</p>
    <input type="submit" value="Create">
</form>
</body>
</html>