<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<p><a th:href="@{/home}">Back to List</a></p>

<form th:action="@{/home/save}" th:object="${song}" novalidate="novalidate" method="post">
<!--    <div>-->
<!--        <label>ID:</label>-->
<!--        <input type="text" th:field="*{id}">-->
<!--    </div>-->
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Name Song:</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Name Singer:</label>
        <input type="text" th:field="*{singer}">
    </div>
    <div>
        <label>Type Music:</label>
        <input type="text" th:field="*{typeMusic}">
    </div>
    <div>
        <label>Link Song:</label>
        <input type="text" th:field="*{src}">
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>