<a class="btn btn-warning m-2" routerLink="/category/create">Create Category</a>

<h1>Danh sách category</h1>
<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>ID</th>
    <th>Tên</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories; index as i">
    <td>{{i + 1}}</td>
    <td>{{category.id}}</td>
    <td>{{category.nameCategory}}</td>
    <td>
      <a class="btn btn-info m-2" [routerLink]="['/category/edit',category.id]">Edit</a>
<!--      <a class="btn  btn-danger m-2" (click)="deleteCategory(category.id)">Delete</a>-->

      <a class="btn btn-danger m-2" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteProduct' + category.id" >Delete</a>

      <!-- Modal -->
      <div class="modal" [id]="'deleteProduct' + category.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="deleteCategory(category.id)">Delete Category</button>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

