<a class="btn btn-warning m-2" routerLink="/product/create">Create Product</a>
<form [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="searchForm">
  <div class="float-end">
<!--  <h1>Tìm kiếm sản phẩm theo tên cách 1: </h1>-->
  <input type="text" placeholder="search" value="search"  formControlName="nameS">
  <button>Search</button>
  </div>
</form>

<!--//Cách 2:-->
<!--<form>-->
  <h1>Tìm kiếm sản phẩm theo tên cách 2: </h1>
  <input type="text" placeholder="search" #name formControlName="name">
  <button type="submit" (click)="searchS(name.value)">Search</button>
<!--</form>-->
<h1>Danh sách sản phẩm</h1>
<table class="table">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th><a (click)="sort()">Giá</a></th>
    <th>Danh mục</th>
    <th>Mô tả</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.category}}</td>
    <td>{{product.description}}</td>
    <td>
      <a class="btn btn-info m-2" [routerLink]="['/product/edit', product.id]">Edit</a>
      <a class="btn  btn-danger m-2" [routerLink]="['/product/delete', product.id]">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<button class="btn btn-primary m-2" (click)="previous()">Previous</button>
<button class="btn btn-primary m-2" (click)="next()">Next</button>

