<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>List Product</h3>
<div style="color: red">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>
<p>
    <a th:href="@{/product/create}">Add new Product</a>
</p>
<table style="width: 1000px " border="1px">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Brand Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View Detail Product</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getBrandName()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/product/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>