.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.3%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {
    width: 66.66%;}
.col-9 {
    width: 75px;
}
.col-10 {
    width: 83.33%;}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
*{
    box-sizing: border-box;
}
.row {
    content: "";
    display: block;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding: 0px 5px 0px 5px;
}

body {
    font-family: Arial;
}
header ul, header li {
    padding:0;
    margin:0;
}
header {
    padding: 20px 20px 20px 0px;
    margin: 5px 5px 0px 5px;
    background-color: #161605;
    color: white;
}
header ul li{
    display: inline;
    padding: 10px;
}

header li a {
    text-decoration: none;
    text-align: center;
    color: gray;
    padding: 20px 10px 20px 0px;
    font-size: 20px;

}
header li a:hover{
    background-color: black;
    color: white;
}
h2 {
    font-size: 50px;
    margin: 10px;
}
h3 {
    font-size: 30px;
    margin: 10px;
}
p {
    margin: 10px;
}
hr {
    margin: 10px;
}
.left {
    text-align: center;
    background-color: #CDCDCD;
    height: 600px;
}
.left div a {
    text-decoration: none;
    color: #2491d7;
    padding-top: 2000px;
}
.right{
    background-color: #CDCDCD;
    height: 600px;
    text-align: center;
}
.right button {
    height: 90px;
    width: 80%;
}

.footer {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    header {
        background-color: blue;
    }
    header li a {
        font-size: 15px;
    }
    .left {
        height: 150px;
    }
    .right {
        height: 250px;
    }
}