<div class="container-xl mt-5">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <a class="btn btn-info" routerLink="/products/list"><< Trở lại trang product</a>
        <div>
          <div class="modal-content mt-5">
            <form>
              <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
              </div>
              <div class="modal-body">
                <table>
                  <tr>
                    <td>Tên sản phẩm:</td>
                    <td><input type="text" formControlName="name"></td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
